<div id="home">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <br>
                <br>
                <h2 id="cs-event">{{event.title}}</h2>
                <br>
                <h3>Description:</h3> 
                <h3>{{event.description}}</h3>
                <br>
                <h3>Date:</h3>
                <h3>{{event.date}}</h3>
                <br>
                <h3>Time:</h3> 
                <h3>{{event.time}}</h3>
                <br>
                <h3>Location:</h3> 
                <h3>{{event.location}}</h3>
                <br>
                <h3>Contact Info:</h3>
                <h3>{{event.contactInfo}}</h3>
                <br>
                <br>
                <a href="/">← Take me To Events</a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>